@page "/CreateRecipe"
@using RecipeBook.Shared.Models
@inject HttpClient http
@layout EmptyLayout



<h1 class="text-center">Create Recipe</h1>

<div class="form-group">
    <div class="create-section">
        <h2 class="mt-3">Details</h2>

        <label for="title">Title</label>
        <input @bind="recipe.Title" class="form-control mb-2" type="text" id="title" placeholder="Title" />
        <label for="description">Description</label>
        <textarea @bind="recipe.Description" style="height:10rem" class="form-control mb-2" type="text" id="description" placeholder="Description" />
        <label for="iconURL">Icon URL</label>
        <input @bind="recipe.IconURL" class="form-control mb-2" type="text" id="iconURL" placeholder="Icon URL" />
    </div>

    <div class="create-section"v>
        <h2 class="mt-3">Add Ingredients</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Measurement</th>
                    <th class="text-center">Ingredient</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ingr in recipe.Ingredients)
                {
                    <tr>
                        <td><input class="w-100 form-control text-center" @bind="@ingr.Measurement" /></td>
                        <td><input class="w-100 form-control text-center" @bind="@ingr.Name" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <button @onclick="AddIngredient" class="btn btn-custom form-control mt-2">Add Ingredient</button>
    </div>

    <div class="create-section">
        <h2 class="mt-3">Add Steps</h2>

        @foreach (var step in recipe.Steps)
        {


            <h4>Step: @step.StepNumber</h4>
            <label for="heading-@step.StepNumber">Heading</label>
            <input class="form-control  mb-2" @bind="@step.Heading" type="text" id="heading-@step.StepNumber" placeholder="Heading" />
            <label for="content-@step.StepNumber">Content</label>
            <textarea class="form-control mb-2" style="height:10rem" @bind="@step.Content" id="content-@step.StepNumber" placeholder="Content" />
        }
        <button @onclick="AddNewStep" class="btn btn-custom form-control mt-2">Add Step</button>
    </div>

</div>


<div class="form-inline float-right">
    <button  class="btn btn-danger form-control mt-2">Cancel</button>
    <button @onclick="AddNewRecipe" class="btn btn-custom form-control mt-2 ml-3">Save</button>

</div>



@code {

    Recipe recipe = new Recipe();
    // List<Step> steps = new List<Step>();

    async void AddNewRecipe()
    {
        //recipe.Steps = steps;
        await http.PostJsonAsync<Recipe>("/api/recipes", recipe);
    }

    void AddNewStep()
    {
        recipe.Steps.Add(new Step() { StepNumber = recipe.Steps.Count + 1 });
        //  steps.Add(new Step() { StepNumber = steps.Count + 1 });


    }

    void AddIngredient()
    {
        recipe.Ingredients.Add(new Ingredient());

    }

}
