<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >

            <Authorizing>
                <LayoutView Layout="@typeof(EmptyLayout)">
                    <div class="text-center m-auto">
                        <h3>Authorizing...</h3>
                        <img class="m-auto" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/35771931234507.564a1d2403b3a.gif" alt="Loading..." />
                    </div>
                </LayoutView>
            </Authorizing>
            <NotAuthorized>
                <LayoutView Layout="@typeof(EmptyLayout)">
                    <RecipeBook.Client.Pages.Login />
                </LayoutView>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
